body{font-family: 'Courier New', Courier, monospace;
    
}
h1{font-size: 40px;

}
.green-color{
    color:green;
}
.mission-part{
    display: flex;
    margin-bottom: 0px;
    
}
.dep-part{
    text-align: center;
    
}
.mission-item{
    
width: 300px;
height: 300px;
box-shadow:10px 10px 40px pink;
margin-left:5px ;
margin-right:5px;
padding-left: 20px;
border-radius:10px;
}
.border-line{
    border-left:
         3px solid red ;
}
.home-part{
    width:40%;
    padding-left: 5%;
    
}
.home-part img{
    width:50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, pink);

    padding:10px 10px;
    color: cornsilk;
    font-weight:700;
    border-radius: 5px;
}
img{
    width:100%;
}
