body{font-family: 'Courier New', Courier, monospace;
    
}
h1{font-size: 40px;

}
.green-color{
    color:green;
}
.mission-part{
    display: flex;
    margin-bottom: 0px;
    
}
.dep-part{
    text-align: center;
    
}
.mission-item{
    
width: 300px;
height: 300px;
box-shadow:10px 10px 40px pink;
margin-left:5px ;
margin-right:5px;
padding-left: 20px;
border-radius:10px;
}
.border-line{
    border-left:
         3px solid red ;
}
.home-part{
    width:40%;
    padding-left: 5%;
    
}
.home-part img{
    width:50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, pink);

    padding:10px 10px;
    color: cornsilk;
    font-weight:700;
    border-radius: 5px;
}
img{
    width:100px;
}
.body-dev{
    display: flex;
    margin-bottom: 0px;
}
.body-dev-image img{
    width: 50%;
    
}
.body-dev-pra p span{
    font-weight: 700;
    font-size: 18px;
}

.body-dev-pra{
    padding-right: 150px;
    margin-bottom: 0em;
    width:50%;
    text-align:right ;
}
.footer-add{
    text-align: center;
    background-color:rgb(29,28,28);
    color: white;
    
}
.footer-add h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
